<!DOCTYPE html>
<html>
  <head>
    <title><%= @pageTitle || "Learning Ajax" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container">
    	<div class="alerts">
    		<%= render "shared/messages" %>
    	</div>
    	<nav class="navbar">
    		
    	</nav>
    	<%= yield %>
    </div>
  </body>
</html>
